<% provide(:title, @room.name) %>
<div class="container">
  <aside class="col-md-4">
    <div class="chat">
      <h1>
        <%= @room.name %>
      </h1>

      <ul id="messages">
        <% @room.messages.order(created_at: :asc).last(20).each do |m| %>
          <%= render partial: "message", locals: {message: m} %>
        <% end %>
      </ul>

      <%= render template: "messages/new"%>

    </div>
  </aside>
</div>

<script>
$(document).ready(function () {
    $( "#new_message" ).bind("ajax:complete", function() {
    $("#message_content").val("")
  });
})
</script>