@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

  body {
    padding-top: 60px;
  }
  
  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {
    margin-bottom: 10px;
  }

  /* typography */

  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }

  /* forms */

  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: -2px;
    padding: 5px;
  }


/* mixins, variables, etc. */

  @mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
  }
  
  .debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
  }

  /* lists */

  .rooms {
    list-style: none;
    font-size: 1.5em;
    .room_box{
      border: 1px solid gray;
      border-radius: 5px;
      margin: 0.5em;
      text-align: center;
    }
  }

  /* chat */

  .chat{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1em;
    display: -webkit-box;
  }

  .chat_write{
    width: 100%;
    margin: 1em;
    display: inline-flex;
  }

  .buttom-send{
    text-align: right;
  }

  .scroll {
    overflow: auto;
    height: 30em;
    list-style: none;
    border: 1px solid gray;
    padding: 1em;
  }

  .message_user{
    font-weight: bold;
    font-style: italic;
  }